<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Acme&family=Lato&family=Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style.css">
  <title>Boolzapp</title>
</head>
<body>

  <div id="app" class="flex-center">
    
    <div class="wrapper">

      <!-- INFO -->
      <div class="info">

        <div class="info-header flex-between">

          <div class="user flex-center">
            <img src="/img/avatar_io.jpg" alt="">
            <h3>Nome Utente</h3>
          </div>

          <div class="user-option flex-center">
            <button><i class="fas fa-circle-notch"></i></button>
            <button><i class="fas fa-comment-alt"></i></button>
            <button><i class="fas fa-ellipsis-v"></i></button>
          </div>

        </div>

        <div class="notifications flex-center">
          <i class="fas fa-bell-slash"></i>
          <div class="notifications-text">
            <h4>Ricevi notifiche di nuovi messaggi</h4>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>

        <form class="search">
          <button><i class="fas fa-search"></i></button>
          <input type="search" v-model="searchContact" placeholder="Cerca o inizia una nuova chat" >
        </form>

        <div class="contacts">
          <ul>
            <li 
            class="flex-between" 
            v-for= "(contact, index) in filterContact()"
            @click="showContact(index)"
            :class="{'active' : activeContact === index}">
              <div class="contact">
                <img :src="`img/avatar${contact.avatar}.jpg`" alt="">
                <div>
                  <h4>{{contact.name}}</h4>
                  <p class="gray-text">
                    {{getLastMessage(index)}}
                  </p>
                </div>
              </div>         
              <span class="gray-text">{{getLastDate(index)}}</span>
            </li>
          </ul>
        </div>

      </div>

      <!-- CHAT -->
      <div class="chat">

        <div class="chat-header flex-between">
          <div class="contact flex-center">
            <img :src="`img/avatar${contacts[activeContact].avatar}.jpg`" alt="">
            <div>
              <h4>{{contacts[activeContact].name}}</h4>
              
              <p class="gray-text">Ultimo accesso: {{getLastDate(activeContact)}}</p>
            </div>
            
          </div>

          <div class="chat-option flex-center">
            <button><i class="fas fa-search"></i></button>
            <button><i class="fas fa-paperclip"></i></button>
            <button><i class="fas fa-ellipsis-v"></i></button>
          </div>
        </div>

        <div class="chat-main">
          <div class="messages flex-between">
            <div v-for="(message,index) in contacts[activeContact].messages" 
            class="message"
            :class="message.status">
              <h4>{{message.message}}</h4>
              
              <i class="fas fa-chevron-down gray-text"></i>
              <span class="gray-text date">{{message.date}}</span>
              
            </div>
          </div>
        </div>

        <div class="chat-input flex-center">
          <button><i class="far fa-smile"></i></button>
          <input 
          @keyup.enter="AddNewMessage"
          v-model="newMessage.message"
          type="text" placeholder="Scrivi un messaggio">
          <button><i class="fas fa-microphone"></i></i></button>
        </div>

      </div>

    </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/customParseFormat.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/locale/it.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/script.js"></script>
</body>
</html>